header{
    text-align: center;
    line-height: 16px;
    padding-top: 20px;
}
ol{
    font-size: 0;
    padding: 0;
    background-color: rgb(121, 39, 39);
}
li{
    font-size: 16px;
    display: inline-block;
    width: 25%;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border:2px lightblue solid;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: inherit;
}
html{
    background-color: rgb(53, 0, 0);
    color: white;
}
li:hover{
    background-color: lightblue;
    color: black;
}
h1,h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 70%;
    margin-left: 15%;
}

